
:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  max-width: 1000px;
  gap:1.5rem 2rem;
}
audience-chart{
  grid-row: 2/4;
  height: max-content;
}
subcribe-watchtime-chart, view-revenue-chart{
grid-column: 2/4;
}
